@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.footer {
  font-family: "Poppins", sans-serif;
  background-color: rgba(128, 128, 128, 0.692);
  height: fit-content;
  width: 100%;
  overflow: hidden;
  border: 7px solid black;
}
h3 {
  text-align: center;
  color: grey;
}
.contacts {
  text-align: center;
}
.contacts a {
  text-decoration: none;
  color: black;
}
