@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.footer {
  font-family: "Poppins", sans-serif;
  background-color: #ffdda1;
  min-height: 70vh;
  width: 100%;
}
h3 {
  color: rgb(54, 50, 50);
}
.contacts {
  position: relative;
  margin-top: -4rem;
  padding: 2rem;
}
.contacts ul {
  list-style: none;
}
.contacts a {
  text-decoration: none;
  color: black;
}
.contacts a:hover {
  background-color: #ba3f1d;
}
