@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main-section {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(216, 216, 216);
  font-family: "Poppins", sans-serif;
  border: 0.438rem solid black;
}

.container {
  padding-top: 5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.texts {
  text-transform: uppercase;
}
.texts h1 {
  color: grey;
}
.texts .h1-big {
  font-size: 3.75rem;
  color: rgb(61, 60, 60);
}
.texts p {
  border-top: 0.13rem solid grey;
  color: grey;
  text-transform: capitalize;
}
.text-button {
  margin-top: 2.4rem;
  padding: 0.875rem 2.188rem;
  cursor: pointer;
  background-color: rgb(59, 55, 55);
  color: #fff;
  border: none;
  border-radius: 0.313rem;
}
.text-button a {
  text-decoration: none;
  color: #fff;
}
.image {
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 39% 100%, 0% 50%, 36% 0%);
  background-color: black;
  max-width: 100%;
  height: auto;
}
