@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main-section {
  max-width: 100%;
  min-height: 50vh;
  background-color: #ffdda1;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.texts {
  text-transform: uppercase;
}
.texts h1 {
  color: grey;
}
.texts p {
  border-top: 0.13rem solid grey;
  color: grey;
  text-transform: capitalize;
}
.text-button {
  margin-top: 2.4rem;
  padding: 0.875rem 2.188rem;
  cursor: pointer;
  background-color: rgb(59, 55, 55);
  color: #fff;
  border: none;
  border-radius: 0.313rem;
}
.text-button a {
  text-decoration: none;
  color: #fff;
}
.image {
  background-color: black;
  border-radius: 15% 35% 35% 60%;
  max-width: 60%;
  height: auto;
}
.message {
  position: fixed;
  width: 4rem;
  background-color: #ba3f1d;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
.message img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
